@use "./variables" as *;

.output {
  display: flex;
  margin: auto;
  padding: auto;
  height: 15vh;
  font-size: 3rem;
  color: $color-white;
  margin-right: 3%;
  align-items: flex-end;
  justify-content: end;
}

button {
  background-color: $color-darkgrey;
  color: $color-white;
  border-radius: 50%;
  font-size: 2rem;
}

.elements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  height: 80vh;
  margin: 3%;

  .clear {
    grid-area: 1 / 1 / 2 / 2;
    background-color: $color-lightgrey;
  }
  height: 80vh;
  .plusminus {
    grid-area: 1 / 2 / 2 / 3;
    background-color: $color-lightgrey;
  }
  .percentage {
    grid-area: 1 / 3 / 2 / 4;
    background-color: $color-lightgrey;
  }
  .division {
    grid-area: 1 / 4 / 2 / 5;
    background-color: $color-ambient;
  }
  #number7 {
    grid-area: 2 / 1 / 3 / 2;
  }
  #number8 {
    grid-area: 2 / 2 / 3 / 3;
  }
  #number9 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .multiplication {
    grid-area: 2 / 4 / 3 / 5;
    background-color: $color-ambient;
  }
  #number4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  #number5 {
    grid-area: 3 / 2 / 4 / 3;
  }
  #number6 {
    grid-area: 3 / 3 / 4 / 4;
  }
  .minus {
    grid-area: 3 / 4 / 4 / 5;
    background-color: $color-ambient;
  }
  #number1 {
    grid-area: 4 / 1 / 5 / 2;
  }
  #number2 {
    grid-area: 4 / 2 / 5 / 3;
  }
  #number3 {
    grid-area: 4 / 3 / 5 / 4;
  }
  .plus {
    grid-area: 4 / 4 / 5 / 5;
    background-color: $color-ambient;
  }
  #number0 {
    grid-area: 5 / 1 / 6 / 3;
    border-radius: 20%;
  }
  .coma {
    grid-area: 5 / 3 / 6 / 4;
  }
  .equal {
    grid-area: 5 / 4 / 6 / 5;
    background-color: $color-ambient;
  }
}
